plural/plural
plural/report
plural/single
plural/config*.json
single/report
single/single
web/web
web/single
web/compare
web/plural
list/list
list/*.csv
list/*.json
compare/*.json
compare/*.txt
compare/compare
web/localhost*
