<!DOCTYPE html>
<head>
	<style type="text/css">
td {
	vertical-align: top;
	align: left;
}
	</style>
</head>
<body>
<form method="post">
	<input type="submit" name="button_back" value="Back">
<fieldset>
	<table>
		<tr><td>
			<table id="primtable">
				<tr>
					<td>Org</td>
					<td><input type="text" name="org" value="{{ .org }}" {{ .mainreadonly }}></td>
					<td></td>
					<td><input type="radio" name="primtype[]" id="radio_this" onclick="radioThisClick()">This</td>
				</tr>
				<tr>
					<td>Repo</td>
					<td><input type="text" name="repo" value="{{ .repo }}" {{ .mainreadonly }}></td>
					<td><input type="submit" name="button_scan" value="Scan"></td>		
					<td><input type="radio" name="primtype[]" id="radio_other" onclick="radioOtherClick()">Other</td>
				</tr>
			</table>
		</td><td>
	     {{with $2:=.Test}} {{$2}} {{end}}
		</td></tr>
	</table>
</fieldset>
<div id="sectable">
<fieldset>
	<table id="sectable">
		<tr>
			<td>Org</td>
			<td><input type="text" name="altorg" value="{{ .altorg }}" {{ .altreadonly }}></td>
			<td></td>
			<td><input type="radio" name="sectype_same" id="radio_same" onclick="set_display()" checked>Same Ref</td>
		</tr>
		<tr>
			<td>Repo</td>
			<td><input type="text" name="altrepo" value="{{ .altrepo }}" {{ .altreadonly }}></td>
			<td><input type="submit" name="button_altscan" value="Scan" {{ .altdisable }}></td>		
			<td><input type="radio" name="sectype_ref" id="radio_ref" onclick="set_display()">Custom Ref</td>
			<td><input type="text" name="text_ref" id="text_ref" value=""></td>
		</tr>
			<td></td>
			<td></td>
			<td></td>
			<td><input type="radio" name="sectype_sha" id="radio_sha" onclick="set_display()">Exact Sha</td>
			<td><input type="text" name="text_sha" id="text_sha" value=""></td>
		<tr>
		</tr>
	</table>
</fieldset>
</div>
<div id="scan">
<fieldset>
	{{ .scan }}
</fieldset>
</div>
</form>

<script>
var sectable = document.getElementById("sectable")

function show_hide_column(id, col_no, do_show) {
    var tbl = document.getElementById(id);
    var rows = tbl.getElementsByTagName('tr');

    for (var row = 0; row < rows.length; row++) {
        var cols = rows[row].children;
        if (col_no >= 0 && col_no < cols.length) {
            var cell = cols[col_no];
            if (cell.tagName == 'TD') cell.style.display = do_show ? 'block' : 'none';
        }
    }
}

function radioThisClick() {
	var radio_this = document.getElementById('radio_this')
	show_hide_column("primtable",2,true)
	set_display()
}
function radioOtherClick() {
	var radio_other = document.getElementById('radio_other')
	show_hide_column("primtable",2,false)
	set_display()
}
function set_display() {
	var radio_this = document.getElementById('radio_this')
	if (radio_this.checked)
		sectable.style.display = "none"
	else
		sectable.style.display = "block"
	
	var radio_same = document.getElementById('radio_same')
	var radio_ref = document.getElementById('radio_ref')
	var text_ref = document.getElementById('text_ref')
	var text_sha = document.getElementById('text_sha')
	if (radio_same.checked) {
		text_ref.style.display = "none"
		text_sha.style.display = "none"
	} else if (radio_ref.checked) {
		text_ref.style.display = "block"
		text_sha.style.display = "none"
	} else {
		text_ref.style.display = "none"
		text_sha.style.display = "block"
	}
}

set_display()

</script>

</body>
</html>
