<html>
<head>
	<style type="text/css">
td {
	vertical-align: top;
	align: left;
}
	</style>
	<script>
var tfCount=0;
var divName = "textFields";

function removeRepo(i){
var element = document.getElementById(i);
element.outerHTML="";
delete element;
}

function addRepo(repo) {
	if(typeof repo == 'undefined')
		repo="";
	if(typeof check == 'undefined')
		check="";
	tfCount++;
	var newdiv = document.createElement('div');
	newdiv.id = "repo-"+tfCount;
	var inner = new String("<input type='button' value='Remove' id='REPLACE_ID' onClick='removeRepo(this.id);'><input type='text' name='repos[]' placeholder='Repo Name' value='REPLACE_REPO'>");
	newdiv.innerHTML = inner.replace(/REPLACE_ID/gi,newdiv.id).replace(/REPLACE_REPO/gi,repo).replace(/REPLACE_CHECK/gi,check);
	document.getElementById(divName).appendChild(newdiv);
}
	</script>
</head>
<body>
<form method="post">
	<input type="submit" name="button_back" value="Back">
<table>
<tr>
<td><input type="button" value="Add Repo" onClick="addRepo();"><br></td>
			<td><fieldset><div id="textFields">
			</div></fieldset></td>
			<td><input type="submit" name="button_submit" value="Submit"></td>
<td>
<pre>
{{ .current }}
</pre>
</td>
</tr>
</table>

</form>
</body>
	<script>
	addRepo("");
	</script>
</html>
