<html>
<head>
<style type="text/css">
td {
	vertical-align: top;
	align: left;
}
</style>
</head>
<body>
<form>
	<input type="submit" name="button_back" value="Back">
	<table>
		<tr>
			<td>
				<fieldset>
				<table id="main">
					<tr>
						<td>Org:</td>
						<td><input type="text" name="org" id="org" value="{{ .org }}"></td>
					</tr>
					<tr>
						<td>Repo:</td>
						<td><input type="text" name="repo" id="repo" value="{{ .repo }}"></td>
					</tr>
					<tr>
						<td>Sha:</td>
						<td><input type="text" name="sha" id="sha" value="{{ .sha }}"></td>
						<td><input type="submit"name="button_scan" id="button_scan" value="Scan"></td>
					</tr>
				</table>
				</fieldset>
			</td>
		</tr>
		<tr>
			<td>
			<div id="scan">
				<fieldset>
					{{ .scan }}
				</fieldset>
			</div>
			</td>
		</tr>
		<tr>
			<td>
				<div id="report">
					<fieldset>
						<pre>{{ .report }}</pre>
					</fieldset>
				</div>
			</td>
		</tr>
	</table>
</form>
</body>
<script>
if({{ .hidescan }})
	document.getElementById('scan').style.display = "none"
else
	document.getElementById('scan').style.display = "block"

if({{ .hidereport }})
	document.getElementById('report').style.display = "none"
else
	document.getElementById('report').style.display = "block"

function show_hide_column(id, col_no, do_show) {
    var tbl = document.getElementById(id);
    var rows = tbl.getElementsByTagName('tr');

    for (var row = 0; row < rows.length; row++) {
        var cols = rows[row].children;
        if (col_no >= 0 && col_no < cols.length) {
            var cell = cols[col_no];
            if (cell.tagName == 'TD') cell.style.display = do_show ? 'block' : 'none';
        }
    }
}

function set_display() {
	if(document.getElementById('scan').style.display == "block") {
		document.getElementById('org').readOnly=true
		document.getElementById('repo').readOnly=true
		document.getElementById('sha').readOnly=true
		show_hide_column("main",2,false)
	}
}

set_display()
</script>
</html>
