<html>
<head>
	<style type="text/css">
td {
	vertical-align: top;
	align: left;
}
	</style>
</head>
<body>
	<form>
	<table></tr>
		<td><fieldset id="knownProjects">
			<legend>Known Projects</legend>
			<pre>
{{ .projects }}
			</pre>
		</fieldset></td>
		<td><fieldset id="reporting">
			<legend>Reporting</legend>
			
			<table><tr>
				<td><fieldset>
					<legend>All by tag</legend>
					<table>
						<tr><td>Tag:</td>
							<td><input type="text" name="reportalltag" value=""></td></tr>
						<tr><td><input type="submit" name="button_reportalltag" value="Submit"></td></tr>
					</table>
				</fieldset></td>
			
				<td><fieldset>
					<legend>By tag or sha</legend>
					<table>
						<tr><td>Org:</td>
							<td><input type="text" name="reportorg" value=""></td></tr>
						<tr><td>Repo:</td>
							<td><input type="text" name="reportrepo" value=""></td></tr>
						<tr><td>Tag:</td>
							<td><input type="text" name="reporttag" value=""></td></tr>
						<tr><td>or</td></tr>
						<tr><td>Sha:</td>
							<td><input type="text" name="reportsha" value=""></td></tr>
						<tr><td><input type="submit" name="button_reporttagsha" value="Submit"></td></tr>
					</table>
				</fieldset></td>
			</tr></table>
			
		</fieldset>
		
		
		<fieldset id="listing">
			<legend>Listing</legend>
			
			<table><tr>
				<td><fieldset>
					<legend>All tags</legend>
					<table>
						<tr><td>Org:</td>
							<td><input type="text" name="tagsorg" value=""></td></tr>
						<tr><td>Repo:</td>
							<td><input type="text" name="tagsrepo" value="" placeholder="Optional"></td></tr>
						<tr><td><input type="submit" name="button_listtags" value="Submit"></td></tr>
					</table>
				</fieldset></td>
			
				<td><fieldset>
					<legend>All shas</legend>
					<table>
						<tr><td>Org:</td>
							<td><input type="text" name="shasorg" value=""></td></tr>
						<tr><td>Repo:</td>
							<td><input type="text" name="shasrepo" value=""></td></tr>
						<tr><td><input type="submit" name="button_listshas" value="Submit"></td></tr>
					</table>
				</fieldset></td>
			</tr></table>
			
		</fieldset>
		
		
		<fieldset id="generation">
			<legend>Generation</legend>
			
			<table><tr>
				<td><fieldset>
					<legend>All tags</legend>
					<table>
						<tr><td>Org:</td>
							<td><input type="text" name="alltagorg" value=""></td></tr>
						<tr><td>Repo:</td>
							<td><input type="text" name="alltagrepo" value="" placeholder="Optional"></td></tr>
						<tr><td><input type="submit" name="button_generatetag" value="Submit"></td><tr>
					</table>
				</fieldset></td>
			
				<td><fieldset>
					<legend>By sha</legend>
					<table>
						<tr><td>Org:</td>
							<td><input type="text" name="byshaorg" value=""></td></tr>
						<tr><td>Repo:</td>
							<td><input type="text" name="bysharepo" value=""></td></tr>
						<tr><td>Sha:</td>
							<td><input type="text" name="byshasha" value=""></td></tr>
						<tr><td><input type="submit" name="button_generatesha" value="Submit"></td></tr>
					</table>
				</fieldset></td>
			</tr></table>
		</fieldset></td>
	</td></table>
	</form>
	
	<script>
	var left = document.getElementById('knownProjects').offsetHeight;
	var right = document.getElementById('reporting').offsetHeight+document.getElementById('listing').offsetHeight+document.getElementById('generation').offsetHeight;
	if (left<right) {
		document.getElementById('knownProjects').style.height = right;
		var offset = document.getElementById('knownProjects').offsetHeight-right;
		document.getElementById('knownProjects').style.height = right-offset;
	}
	</script>
</body>
</html>
