<html>
<head>
<style type="text/css">
td {
	vertical-align: top;
	align: left;
}
.button {
	background-color: #afafaf;
	color: black;
	border: none;
	text-align: center;
	text-decoration: none;
	height: 200px;
	width: 200px;
}
</style>
</head>
<body>
<table>
<tr>
<td>
<fieldset>
<legend>Projects</legend>
<form method="get">
{{ .table }}
</form>
</fieldset>
</td>
<td>
<fieldset>
<legend>Utils</legend>
<form method="get">
	<input type="submit" name="button_util" value="Report By Sha"><br>
	<input type="submit" name="button_util" value="Dependency Search">
</form>
</fielset>
</td>
</tr>
<table>
</body>
</html>
