<html>
<head>
<style type="text/css">
td {
	vertical-align: top;
	align: left;
}
</style>
</head>
<body>
<table>
	<tr>
		<td><form>
			<input type="submit" name="button_back" value="Back">
		</form></td>
	</tr>
	<tr>
	<td><fieldset>
		<form>
		<table>
			<tr>
				<td>Org:</td>
				<td><input type="text" name="org"></td>
			</tr>
			<tr>
				<td>Repo:</td>
				<td><input type="text" name="repo"></td>
			</tr>
			<tr>
				<td>Sha:</td>
				<td><input type="text" name="sha"></td>
			</tr>
			<tr>
			<td></td>
			<td><input type="submit"name="button_submit" value="Submit"></td>
			</tr>
		</table>
		</form>
	</fieldset></td>
	<td><fieldset>
	<pre>{{ .report }}</pre>
	</fieldset></td>
	</tr>
</table>
</body>
</html>
