<html>
<head>
<style type="text/css">
td {
	vertical-align: top;
	align: left;
}
</style>
</head>
<body>
<form>
<table>
<tr>
<td>
<input type="submit" name="button_back" value="Back">
<td>
<fieldset>
<legend>Select Ref</legend>
{{ .refs }}
</fieldset>
</td>
<td>
<fieldset>
<legend>Type</legend>
<label for="download_csv">
	<input type="checkbox" id="download_csv" name="download_csv" value="true"> Download CSV
</label>
<input type="radio" name="reporttype" value="grouped" checked> Grouped<br>
<input type="radio" name="reporttype" value="seperate"> Seperate
</fieldset>
</td>
<td>
<fieldset>
<legend>Report</legend>
<pre>
{{ .report }}
</pre>
</fieldset>
</td>
</tr>
</table>
</form>
</body>
</html>
