<html>
<head>
	<style type="text/css">
td {
	vertical-align: top;
	align: left;
}
	</style>
	<script>
var divName = "textFields";
function addRepo() {
	var newdiv = document.createElement('div');
	newdiv.innerHTML = "<input type='text' name='repos[]' placeholder='Repo Name'><input type='text' name='checkout[]' placeholder='Checkout Value'>"
	document.getElementById(divName).appendChild(newdiv);
}
	</script>
</head>
<body>
	<form method="post">
	<input type="submit" name="button_back" value="Main UI"><br>
	<table>
		<tr>
		<td></td><td></td><td><input type="submit" name="button_textdiff" value="Compare"></td>
		</tr><tr>
			<td><input type="submit" name="button_toplural" value="Plural"> Actual:</td>
			<td>Expected:</td>
			<td>Result:</td>
		<tr></tr><tr>	
		</tr><tr>
			<td><textarea name="actual" placeholder="Paste actual here" rows="50" cols="100">{{ .actual }}</textarea></td>
			<td><textarea name="expected" placeholder="Paste expected here" rows="50" cols="100">{{ .expected }}</textarea></td>
			<td><fieldset>
				<pre>{{ .result }}</pre>
			</fieldset></td>
		</tr>
	</table>
	<fieldset>
		<table>
			<tr><td><input type="button" value="Add Repo" onClick="addRepo();"></td>
			<td><div id="textFields">
					<input type="text" name="repos[]" placeholder="Repo Name"><input type="text" name="checkout[]" placeholder="Checkout Value">
			</div></td>
			<td><input type="submit" name="button_plural" value="Submit"></td></tr>
		</table>
	</fieldset>
	</form>
</body>
</html>
