<html>
<head>
</head>
<body>
	<form>
		<input type="submit" name="button_back" value="Main UI"><br><br>
	</form>
	<form>
	<table>
		<tr>
		<td></td><td></td><td><input type="submit" name="button_textdiff" value="Compare"></td>
		</tr><tr>
			<td>Actual:</td>
			<td>Expected:</td>
			<td>Result:</td>
		<tr></tr><tr>	
		</tr><tr>
			<td><textarea name="actual" placeholder="Paste actual here" rows="50" cols="100" required="required">{{ .actual }}</textarea></td>
			<td><textarea name="expected" placeholder="Paste expected here" rows="50" cols="100" required="required">{{ .expected }}</textarea></td>
			<td><textarea name="result"rows="50" cols="100" readonly="readonly">{{ .result }}</textarea></td>
		</tr>
	</table>
	</form>
</body>
</html>
