<html>
<head>
	<style type="text/css">
td {
	vertical-align: top;
	align: left;
}
	</style>
</head>
<body>
	<form method="post" enctype="application/json">
	<input type="submit" name="button_back" value="Main UI"><br>
	<table>
		<tr>
		<td></td><td></td><td><input type="submit" name="button_textdiff" value="Compare"></td>
		</tr><tr>
			<td><input type="submit" name="button_toplural" value="Plural"> Actual:</td>
			<td>Expected:</td>
			<td>Result:</td>
		<tr></tr><tr>	
		</tr><tr>
			<td><textarea name="actual" placeholder="Paste actual here" rows="50" cols="100">{{ .actual }}</textarea></td>
			<td><textarea name="expected" placeholder="Paste expected here" rows="50" cols="100">{{ .expected }}</textarea></td>
			<td><fieldset>
				<pre>{{ .result }}</pre>
			</fieldset></td>
		</tr>
	</table>
	</form>
</body>
</html>
